Glotaran/JAXBWizzardOutput/src/org/glotaran/core/models/gta/GlobalAndTargetAnalysisSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://glotaran.org/schema/GlobalAndTargetAnalysisSchema"
    xmlns:tns="http://glotaran.org/schema/GlobalAndTargetAnalysisSchema"
    elementFormDefault="qualified">
    <xsd:complexType name="DatasetContainers"/>
    <xsd:complexType name="Models"/>
    <xsd:complexType name="newComplexType"/>
</xsd:schema>
